{:server-routes ["/" [[true :root-page]]]
 :http-kit-opts {:env.edn/port 3000}
 :middleware-opts {:params {:urlencoded true
                            :nested true
                            :keywordize true}
                   :security {:xss-protection {:enable? true
                                               :mode :block}
                              :frame-options :sameorigin
                              :content-type-options :nosniff}
                   :session {:flash true
                             :cookie-attrs {:http-only true
                                            :max-age 3600}}
                   :static {:resources "public"}
                   :responses {:not-modified-responses true
                               :absolute-redirects true
                               :content-types true
                               :default-charset "utf-8"}}}
